.component {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(1, 1, 1);
    box-shadow: 0 1px 10px 0 rgba(85, 81, 81, 1);
    width: 100%;
    height: 110px;
    position: absolute;
    z-index: 10;
}

.backgroundNav.component {
    background: rgba(1, 1, 1, 0.88);
}

#img {
    width: 108px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.place {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 22%;
}

.button1 {
    border-radius: 15px;
    font-size: 18px;
    background-color: #0F0F0F;
    border: solid 1PX #FFFFFF;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 155px;
    height: 50px;
}

.button2 {
    border-radius: 15px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: rgba(4, 247, 255, 1);
    border: 0;
    cursor: pointer;
    width: 155px;
    height: 50px;
}

#spaceInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 1.1vw, 30px);
}

#spaceInput {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20vh;
    width: 50%;
}

.textNewPass {
    background: linear-gradient(90deg, rgb(48, 48, 48) 0%, #AFA9A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spaceTextNewPass {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #AF02FF, #0051FF) border-box;
}

.designInputs {
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 1.1vw, 30px);
    color: black;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #AF02FF, #0051FF) border-box;
    border-radius: 7.5px;
    padding: 0 0 0 5px;
    height: 4.5vh;
    width: 25vw
}

#spaceButtonNew {
    margin: 40px 0 0 0;
}

#buttonAccept {
    cursor: pointer;
    height: 5vh;
    width: 8vw;
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 1vw, 30px);
    border-radius: 8px;
    background-color: #04C9FF;
    border: #04C9FF 1px solid;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 30vh;
}

.information-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 0 5px 0 rgba(85, 81, 81, 1);
    width: 100%;
    height: 25vh;
}

#img-logo-footer {
    margin: 0 0 0 100px;
    width: 10vw;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 170px 0 0;
    height: 15vh;
}

li {
    list-style: none;
    cursor: pointer;
}

.place-views {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(153, 153, 153, 1), rgba(51, 51, 51, 1));
    background-clip: text;
    color: transparent;
}

#line {
    background: linear-gradient(to right,rgba(190, 177, 248, 1), rgba(0, 217, 255, 1));
    height: 5px;
}
p{
    margin: 0 0 10px 0;
}

.component2{
    height: 69.5vh;
}