.component{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(1, 1, 1);
    box-shadow:0 1px 10px 0 rgba(85, 81, 81, 1);
    width: 100%;
    height: 110px;
    position: absolute;
    z-index: 10;
}
.backgroundNav.component {
    background: rgba(1, 1, 1, 0.88);
}

#img{
    width: 108px;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 30%;

}
.place{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 22%;
}

.button1{
    border-radius: 15px;
    font-size: 18px;
    background-color: #0F0F0F;
    border: solid 1PX #FFFFFF;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 155px;
    height: 50px;
}

.button2{
    border-radius: 15px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: rgba(4, 247, 255, 1);
    border: 0;
    cursor: pointer;
    width: 155px;
    height: 50px;
}

#spaceInfo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 1.1vw, 30px);
}

#spaceInput{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20vh;
    width: 40%;
}

.textNewPass{
    background: linear-gradient(90deg, rgb(48, 48, 48) 0%, #AFA9A9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spaceTextNewPass{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}